@import '../common';

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0;
    z-index: 100;
    background-color: @bbs-blue;
    transition: transform .3s;
}

.sidebar-overlay {
    // no overlays on bigger screen
    display: none;

    background-color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: opacity .3s ease-out, visibility .3s ease-out;

    @media @phones {
        display: block;
    }
}

.drag-control {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 499;
}
