@import '../universal';

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0;
    z-index: 100;
    background-color: @bbs-blue;
    transition: transform .3s;
    padding: 100px 0;
}

.sidebar-overlay {
    // no overlays on bigger screen
    display: none;

    background-color: #000;
    .screen;
    z-index: 10;
    transition: opacity .3s ease-out, visibility .3s ease-out;

    @media @phones {
        display: block;
    }
}

#sidebar {
    ul {
        padding: 0;

        & > li {
            display: block;
            text-align: center;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 10px 0;
                text-decoration: none;
                color: #fff;
                font-size: 16px;
            }
            &:hover, a.active {
                background-color: #005395;
            }
        }
    }
}
