@import './universal';


body {
    background-color: #f3f3f3;
}

#frame {
    touch-action: pan-y;
}

#main {
    position: relative;
    top: 50px;
    margin: 0 auto;
    padding: 10px 15px;
    transition: .3s;

    @media @phones {
        padding: 10px 0;
    }
}
