@import './universal.less';

body { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Pingfang-SC,"Microsoft Yahei",SimHei,Arial,sans-serif !important; }
input[type="file"] { display: none; }
button.raised, a.raised {
    padding: 3px 20px;
    box-shadow: @shadow-material-raise;
}

button.float {
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 50%;
    text-decoration: none !important;
    outline: none !important;
    transition: all .3s;
    background-color: #eee;
    box-shadow: @shadow-material-float;

    i { 
        width: 100%; 
        line-height: 100%;
    }

    &:hover {
        color: inherit;
        background-color: #ddd;
    }
}

button.flat {
    color: @flat-pink;
    font-weight: 500;
    transition: .3s ease;
    outline: 0 !important;
    &:hover, &:focus {
        text-decoration: none;
        color: rgba(255, 64, 129, .6);
    }
}

.container {
    @media @phones {
        padding: 0
    }
}

blockquote {
    font-size: 14px;
}

.error-message {
    color: @red-danger;
}

button.load-more {
    padding: 12px 0 0 0;
    font-size: 16px;
    color: inherit;
    outline: none !important;
    
    &:hover, &:focus {
        color: #2565ac;
        text-decoration: none;
    }
}

@media @phones {
    .modal-dialog {
        margin: 0;
        .modal-content {
            border: 0;
            box-shadow: none;
            border-radius: 0;
        }
    }
}

ul.tabs {
    padding: 0;
}

li.tab {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    
    a {
        display: inline-block;
        line-height: 1.5;
        font-size: 18px;
        color: #333;
        &:hover, &:focus, &.active {
            text-decoration: none;
            font-size: 24px;
            color: @material-red;
        }
        transition: all .3s;
    }
}