@import 'universal.less';


.card-home {
    margin-bottom: 10px;
    
    .card-title {
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 24px;
    }

    &.card-latest .card-content {
        padding-bottom: 12px;
    }

    .refresh-button {
        position: absolute;
        top: 22px;
        right: 24px;
        font-size: 16px;

        @media @phones {
            top: 20px;
            right: 18px;
        }
    }

    .media {
        margin-top: 20px;
    }

    button.load-more {
        padding-top: 12px;
        margin-top: 20px;
        font-size: 16px;
        border-top: 1px solid #eee;
        color: inherit;
        outline: none !important;
        
        &:hover, &:focus {
            color: #2565ac;
            text-decoration: none;
        }
    }
}