@import 'universal.less';


.card-home {
    margin-bottom: 10px;
    
    .card-title {
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 24px;
    }

    &.card-latest .card-content {
        padding-bottom: 12px;
    }

    .refresh-button {
        position: absolute;
        top: 22px;
        right: 24px;
        font-size: 16px;

        @media @phones {
            top: 20px;
            right: 18px;
        }
    }

    .media {
        margin-top: 20px;
    }

    button.load-mroe {
        border-top: 1px solid #eee;
    }
}

.card-home-widget {
    .card-title {
        color: #555;
        padding-bottom: 2px;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 8px;
    }
}

ul.announcement-list {
    padding: 0;
    margin: 0;
    li {
        margin-bottom: 6px;
        font-size: 14px;
        list-style: none;
    }
}

.mobile-qrcode {
    width: 60px;
    margin-right: 10px;
}
.qrcode-title {
    margin: 0 0 5px;
}
.qrcode-desc {
    font-size: 12px;
}

.weibo-avatar { 
    width: 40px; 
    margin-right: 5px;
}
.weibo-wrapper {
    p { margin-bottom: 0; }
    a { color: #333; text-decoration: none !important;}
    .weibo-label {
        background-color: @weibo-red;
    }
}

.card-index-rank {
    .action-wrapper {
        p {
            text-align: center;
            margin-bottom: 0;
            font-size: 12px;
        }
        a {
            color: #00a1e9;
        }
    }
    .rank-list {
        padding: 0;
        margin: 15px 0;
        .avatar {
            .avatar-size(30px);
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }
}

.footer-home {
    line-height: 1.8;
    color: #777;

    a {
        color: #8590a6;
        text-decoration: none !important;

        &:hover {
            color: #2565ac;
        }
    }

    span.dot::after {
        margin: 0 5px;
        content: "\B7";
    }
}