@bbs-blue: #2565ac;
@shallow-grey: #f3f3f3;

@phones: ~"screen and (max-width: 768px)";
@tablets: ~"screen and (max-width: 991px)";

@shadow-normal: 0 1px 2px 0 rgba(8,1,3,.15);
@shadow-deep: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
@shadow-material: 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
@shadow-material-raise: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);

.transition-material (@duration, @item: all) {
    transition: @item @duration cubic-bezier(.23, 1, .32, 1) 0ms;
}

html {font-size: 16px;}
.screen (@position: fixed) {
    position: @position;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.square (@size) {
    width: @size;
    height: @size;
}
