@import '../common';

.card {
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    margin: .5rem 0 1rem 0;
    .material-shadowed;

    .card-content {
        padding: 24px;
        border-radius: 0 0 2px 2px;
    }
}
