@import '../universal.less';

.input-wrapper {
    display: inline-block;
    position: relative;
    width: 256px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    background-color: transparent;
    .transition-material(.2s, height);
    cursor: auto;
    overflow: hidden;

    label {
        position: absolute;
        top: 22px;
        z-index: 1;
        font-weight: normal;
        line-height: 22px;
        pointer-events: none;
        user-select: none;
        transform-origin: left top 0px;
        .transition-material(.45s);
    }

    .placeholder {
        position: absolute;
        bottom: 11px;
        font-size: .9em;
        color: rgba(0, 0, 0, .5);
        .transition-material(.45s);
    }


    hr {
        position: absolute;
        bottom: 8px;
        width: 100%;
        margin: 0;
        box-sizing: content-box;
        border: none rgb(224, 224, 224);

        &.border-muted {
            border-bottom: 1px solid rgb(224, 224, 224);
            .transition-material(.45s);
        }
        &.border-colored {
            border-bottom: 2px solid #2565ac;
            transform: scaleX(0);
            .transition-material(.45s);
        }
    }

    input {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        border: none;
        margin-top: 2px;
        outline: none;
        color: rgba(0, 0, 0, .87);
        cursor: inherit;
        opacity: 1;
        overflow: hidden;
    }

    &.select {
        margin-right: 30px;
        overflow: initial;

        &:hover {
            hr.border-muted {
                border-bottom: 2px solid #333;
            }
        }

        .options {
            position: absolute;
            top: 0;
            min-width: 256px;
            max-height: 450px;
            padding: 0;
            margin-top: 18px;
            box-shadow: @shadow-material-deep;
            z-index: 1000;
            overflow: auto;
            transition: .5s height;

            .card-content {
                padding: 0;
            }
            ul {
                padding: 0;
                margin: 10px 0;
            }
            li {
                list-style: none;
                height: 24px;
                line-height: 1.5em;
                font-weight: 400;
                font-size: 1em;
                white-space: nowrap;
                padding: 12px 16px;
                box-sizing: content-box;
                &:hover {
                    background-color: rgba(0, 0, 0, .12);
                }
                cursor: pointer;
            }
        }
        input.select-button {
            height: 30px;
            line-height: 30px;
            margin-top: 18px;
            padding-bottom: 2px;
            cursor: pointer;
        }
        svg.select-icon {
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 0;
            color: rgba(0, 0, 0, .54);
            fill: currentColor;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }

    }
}
