@import '../universal.less';

.card.no-padding .card-content {
    padding-bottom: 6px;
}

ul.thread-list-withborder {
    padding: 0;
    & > div {
        padding: 12px 24px;
        border-bottom: 1px solid #eee;
        margin: 0;

        @media @phones {
            padding: 9px 18px;
        }

        &:hover {
            background-color: #eee;
        }
    }

    p.no-data {
        text-align: center;
        padding-bottom: 24px;
        font-size: 16px;
        margin-top: 30px;
    }

}

.baord-header-wrapper {
    margin-top: 30px;
    position: relative;
}

div.board-operation {
    margin-top: 12px;
    font-size: 15px;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
    position: relative;
    right: 54px;
    &:hover {
        color: @material-red;
    }
}
.board-refresh-button {
    position: absolute;
    right: 0;
    top: 5px;
    .icon-refresh {
        font-size: 14px;
    }
}

.board-buttons {
    position: absolute;
    top: 24px;
    right: 24px;

    button {
        font-size: 18px;
        padding-right: 0;
    }

    @media @phones {
        top: 18px;
    }
}

.posting-modal {
    .modal-body, .modal-footer {
        padding: 15px 30px;
    }

    .rdw-editor-wrapper {
        margin-top: 15px;
    }
}
