// custom style for editor
// no raw style
// everything on editor is here
@import '../universal.less';

.rdw-editor-toolbar {
    overflow: hidden;

    & > div {
        // inline-wrapper, block-wrapper, list-wrapper...
        display: inline-block;
        & > .rdw-option-wrapper {
            // option...
            padding: 5px 6px;
            display: inline-block;
            transition: .3s ease;
            &.rdw-option-active {
                background-color: #ddd;
            }
            &:hover {
                background-color: #eee;
            }
        }

    }

    .rdw-emoji-modal {
        position: absolute;
        width: 200px;
        max-height: 200px;
        overflow: auto;
        padding: 0 5px;
        background-color: #fff;
        box-shadow: @shadow-normal;
        & > span {
            cursor: pointer;
            font-size: 15px;
        }
    }

    ul.rdw-dropdown-optionwrapper {
        position: absolute;
        padding: 0;
        list-style: none;
        & > li {
            cursor: pointer;
            background-color: #fff;
        }
    }

    a.rdw-dropdown-selectedtext {
        color: #333;
        cursor: pointer;
        text-decoration: none;
    }

    .rdw-attach {
        text-align: right;
        position: relative;
        top: 2px;
    }
}

.rdw-editor-main {
    min-height: 300px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    font-size: 16px;
    cursor: text;

    
    img {
        max-width: 42%;
    }
    
    .rdw-mention-link {
        cursor: pointer;
    }
    .rdw-suggestion-wrapper {
        position: relative;
    }

    .rdw-suggestion-dropdown {
        // at dropdown
        position: absolute;
        display: flex;
        flex-direction: column;
        border: 1px solid #f1f1f1;
        min-width: 180px;
        max-height: 200px;
        overflow: auto;
        background-color: rgba(255, 255, 255, .7);
    }
    
    .rdw-suggestion-option, .rdw-suggestion-option-active {
        display: block;
        cursor: pointer;
        padding: 6px;
        border-bottom: 1px solid #eee;
        text-overflow: ellipsis;

        .avatar {
            width: 30px;
            height: 30px;
            margin-right: 8px;
            font-size: 18px;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
        }
        &:hover {
            background-color: #eee;
        }
    }
}

// placeholder
.public-DraftEditorPlaceholder-root {
    position: absolute;
    opacity: .35;
}

.error-message-in-editor {
    color: @red-danger;
    margin-top: 8px;
    text-align: right;
    margin-bottom: 0;
}