@import '../universal';


.card-forum {
    cursor: pointer;
    transition: all .3s;

    &.active {
        width: 100%;
        height: auto;
        cursor: auto;


        .card {
            .shadowed-deep;
        }

        .card-image {
            img, h1 { display: none; }
        }
    }
}

.forum-detail {
    margin-bottom: 20px;

    .media-heading {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .media-left { padding-right: 20px; }
    p { margin-bottom: 5px; }
}
