.thread-head {
    .media-left {
        padding-right: 20px;
    }

    .author-avatar {
        width: 65px;
        height: 65px;
        line-height: 65px;
    }

    .thread-title {
        padding: 5px 0 12px;
        border-bottom: 1px dashed #ccc;
        a {
            padding-right: 5px;
        }
    }

    .floor {
        font-weight: bold;
        margin-left: 15px;
    }
    .text-muted { color: #999; }
}
