@import '../universal.less';

.thread-head {
    margin-bottom: 30px;
    .thread-meta {
        margin-bottom: 20px;
    }
    .media-left {
        padding-right: 20px;
    }

    .author-avatar {
        border-radius: 50%;
        width: 65px;
        height: 65px;
        line-height: 65px;
        font-size: 40px;

        &.post {
            width: 52px;
            height: 52px;
            line-height: 52px;
            font-size: 31px;
        }
    }

    .thread-title {
        padding: 7px 0 10px;
        border-bottom: 1px dashed #ccc;
        a {
            padding-right: 5px;
        }
    }

    .floor {
        font-weight: bold;
        margin-left: 15px;
    }
    .text-muted {
        color: #999;
    }
    .post-meta {
        margin-bottom: 10px;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 5px;
    }
    footer {
        text-align: right;
        button {
            font-size: 14px;
            padding: 6px 8px;
        }
        button:last-child {
            padding-right: 0;
        }
    }

    @media @phones {
        .media-left {
            padding-right: 10px;
        }
        .thread-title {
            padding-top: 0;
        }
        .author-nickname {
            display: none;
        }
        .author-avatar.post {
            width: 28px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
        }
        .floor {
            margin-left: 8px;
        }
    }
}

.thread-footer {
    margin-top: 30px;
}

.thread-renderer {
    font-size: 16px;
    margin-bottom: 15px;
    a.img-link {
        max-width: 42%;
        display: block;

        @media @phones {
            max-width: 100%;
        }
    }
    img {
        max-width: 100%;
        margin: 20px 0;
        display: block;
        box-shadow: @shadow-normal;
    }
}

.card-thread-editor {
    .rdw-editor-main {
        min-height: 200px;
    }
    blockquote {
        font-size: 15px;
    }
    .reply {
        position: relative;
        button {
            position: absolute;
            font-size: 15px;
            right: 8px;
            top: 5px;
        }
    }
}

.operator-dropdown {
    border: 0;
    text-decoration: none !important;

    .icon-dotsvertical {
        color: #777;
        font-size: 18px;

        &:hover {
            color: #333;
        }
    }
}

.edit-confirm-button {
    margin-right: 10px;
}

.thread-buttons {
    button {
        font-size: 16px;
        padding: 5px 8px;
    }
    button:last-child {
        padding-right: 0;
    }
}

.reply-button {
    @media @phones {
        display: block !important;
    }
}

.switch-wrapper {
    margin-right: 15px;
}

.switches-wrapper {
    float: right;
    @media @phones {
        float: left;
        margin-top: 10px;
    }
}

.lock {
    border: 0px;
    background-color: white;
}

.lock:hover {
    background-color: #777;
}

.lock-overlay {
    position: absolute;
    border-radius: 2px;
    margin: 0 0 1rem 0;
    height: 319px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    z-index: 1;
    line-height: 319px;
    @media screen and (min-width: 1200px) {
        width: 940px;
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
        width: 740px;
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
        width: 520px;
    }
    p {
        color: @bbs-blue;
        font-size: 18px;
    }
    @media @phones {
        width: 100%;
    }
}

#ban-popover {
    top: 220px !important;
    @media screen and (min-width: 1200px) {
        left: 780px !important;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        left: 400px !important;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
        left: 300px !important;
    }
}
