@import '../universal.less';

#passport {
    .screen();
    background: url(../../assests/bg-min.png) #fff no-repeat fixed 0 0;
    background-size: contain;

    .input-realname,
    .input-stunum {
        width: 50% !important;
        float: left;
    }
    .input-realname {
        padding-right: 5px;
        hr {
            right: 5px;
            left: 0;
        }
    }
    .input-stunum {
        padding-left: 5px;
    }
    .success-wrapper {
        text-align: center;
        .success-msg {
            font-size: 16px;
            color: #4caf50;
            margin-bottom: 0;
        }
    }

    .wrapper {
        margin-top: 30px;
    }

    @media @phones {
        background-size: cover;
        background-position: center top;
    }
}

.switch-links {
    position: absolute;
    right: 32px;
    a {
        padding-right: 10px;
        display: block;
        font-size: 16px;
        color: #999;
        transition: all 0.3s;

        &:hover,
        &.active {
            text-decoration: none;
            color: #333;
            transform: scale(1.1);
            transform-origin: bottom;
        }
    }

    @media @phones {
        right: 10px;
    }
}

.back-to-home-wrapper {
    position: absolute;
    a {
        color: #333;
        font-size: 16px;

        &:hover {
            text-decoration: none;
        }
    }
}

.card-passport {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 32px;
    right: 0;
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);

    button.submit-button {
        width: 200px;
        padding: 8px 0;
        letter-spacing: 5px;
        font-size: 16px;
        margin: 25px auto 8px;
    }

    @media @phones {
        width: 100%;
        max-width: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        margin: 0;
        padding: 20px 10px;
    }

    .error-msg {
        color: #d32f2f;
        font-size: 16px;
        text-align: center;
    }
}

.login {
    .banner {
        display: block;
        margin: 60px auto;
    }

    .login-button {
        background: linear-gradient(90deg, #05d5ee, #0081e5);
        border: 0 !important;
        outline: 0 !important;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 25px auto 5px;
        border-radius: 20px;
        font-size: 16px;
    }

    .login-input {
        height: auto;
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 20px;
        background-color: #f5f5f5;
    }

    .login-form {
        width: 300px;
        margin: 0 auto;

        & .form-group {
            margin-bottom: 25px;
        }
    }

    .additional-link-wrapper {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        text-align: center;
        color: #333;
        font-size: 16px;
        a {
            color: inherit;
            padding: 0 8px;
            text-decoration: none !important;
        }
    }

    @media @phones {
        margin-top: 80px;
    }
}

.token-not-found {
    p {
        margin-bottom: 5px;
    }
}

.terms-wrapper {
    max-width: 800px;
    margin: 0 auto;
    .terms {
        margin: 0 20px;
    }
}
