@import '../universal.less';


.profile-avatar {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
}

.card-profile {
    .card-content {
        padding: 0 0 24px;
    }

    .private-message-wrapper {
        position: absolute;
        right: 0;
        top: 40px;
        padding: 10px 20px 15px;
        background-color: rgba(255, 255, 255, .95);
        box-shadow: @shadow-material;
        border-radius: 3px;

        button.raised {
            margin-left: 5px;
        }
    }

    .profile-ops-wrapper {
        display: inline-block;
        position: absolute;
        right: 0;
        z-index: 1;

        button.profile-ops {
            padding: 3px 20px;
            font-size: 16px;
            outline: 0 !important;
            border-color: #007bff;
            color: #007bff;
            transition: all .3s;
            float: right;
    
            &:hover {
                color: #fff;
                background-color: #007bff;
            }
        }
    }

    .profile-cover {
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        
        .bg {
            position: absolute;
            top: -20px;
            bottom: -20px;
            left: -40px;
            right: -40px;
            background-position: 50% 60%;
            background-size: cover;
        }
    }

    .profile-wrapper { 
        position: relative;
        margin: 0 36px;
    }
    .intro { margin-left: 165px; }
    .username {
        margin-bottom: 0;
        font-size: 30px;
        font-weight: bold;
    }

    .nickname {
        opacity: .6;
        font-size: .6em;
        font-weight: normal;
    }

    .label {
        display: inline-block;
        font-size: 18px;
        padding: 5px 24px;
        .points-content {
            font-size: 14px;
        }
    }

    @media @phones {
        .profile-avatar {
            width: 100px;
            height: 100px;
            top: 0;
        }
        .profile-wrapper { margin: 0 20px; }
        .intro { margin-left: 110px; }
        .profile-cover { height: 135px; }
        button.profile-ops { 
            float: none; 
            margin-top: 10px;
        }
        .nickname { display: none; }
    }
}
